
    .thisIsTheHeader {
        background-color: brown;
        color: chartreuse;
        text-align: center;
    }

    .thisIsTheBody {
        background-image: url('record.png');
        background-repeat: repeat;
        margin: 0;
    }

    .thisIsTheMain {
        background-color: lightgray;
        padding: 1em;
    }